 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="node_modules\element-ui\lib\theme-chalk\index.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <el-container> 
      <el-header style="text-align: right; font-size: 12px">

        <div v-if="loginFlag.flag!=true">
          <el-button  @click="registerVisible=true">注册</el-button>
            <el-dialog title="注册" :visible.sync="registerVisible">
              <el-input placeholder="登录账号" v-model="user.id"></el-input>
              <el-input placeholder="姓名" v-model="user.name"></el-input>
              <el-input placeholder="性别F或者M" v-model="user.sex"></el-input>
              <el-input placeholder="兴趣爱好" v-model="user.hobby"></el-input>
              <el-input placeholder="手机号码" v-model="user.phone"></el-input>
              <el-input placeholder="group" v-model="user.group"></el-input>
              <el-input placeholder="states" v-model="user.states"></el-input>
              <el-button @click="register">注册</el-button>
            </el-dialog>

          <el-button  @click="loginVisible=true">登录</el-button>
            <el-dialog title="登录" :visible.sync="loginVisible">
                <el-input placeholder="输入账号" v-model="loginObj.id"></el-input>
                <el-input placeholder="输入密码" v-model="loginObj.passwd"></el-input>
                <div v-if="loginFlag!=null">
                    <div v-if="loginFlag.flag==true">登录成功</div>
                    <div v-else>登录失败，请检查用户名密码</div>
                </div>
              <el-button @click="login">登录</el-button>
            </el-dialog>
        </div>

        <div v-else>
            <el-button @click="loginFlag.flag=false;loginVisible=false">退出</el-button>
            <el-button @click="addtopicVisible=true">发帖</el-button>
            <el-dialog title="发帖" :visible.sync="addtopicVisible">
              <el-input placeholder="标题" v-model="topicReceive.title"></el-input>
              <el-input placeholder="内容" v-model="topicReceive.content"></el-input>
              <div v-if="topicAddFlag!=null">
                <div v-if="topicAddFlag.flag==true">
                  主题发布成功，主题ID为：{{topicAddFlag.topicId}}
                </div>
              <div v-else>
                  主题发布失败！  {{topicAddFlag.reason}}
              </div>
              </div>
              <el-button @click="addTopic">发帖</el-button>
          </el-dialog>

          <template v-if="loginStatus.id=='admin'">
              <el-button @click="banUserVisible=true">封禁</el-button>
              <el-dialog title="封禁用户" :visible.sync="banUserVisible">
                <el-input placeholder="封禁用户ID" v-model="banUserObj.optUserId"></el-input>
                <el-input placeholder="管理员ID" v-model="banUserObj.tarUserId"></el-input>
              <el-button @click="banUser">点击封禁</el-button>
            </el-dialog>
          </template>
          
        </div>
      </el-header>

          <el-container>
              <el-collapse v-model="activeNames"  @change="handleChange">
                    <el-collapse-item style="color:#FFFAF0" v-for="(value,key) in topicList" :title="topicList[key].title"  :name="key">
                        <el-card class="box-card">
                          <div slot="header" class="clearfix">
                            <span>发帖人：{{topicList[key].authorName}}(Topic id:{{topicList[key].id}})——{{topicList[key].date}}</span>                              
                          </div>
                          <div>{{topicList[key].content}}</div>
                          <div v-if="loginStatus.id=='admin'">
                            <el-button style="float: right; padding: 3px 0" type="text" @click="delTopic">删除</el-button>
                          </div>
                        </el-card>
                        
                        <el-card class="box-card-1">评论列表
                            <el-button style="float: right; padding: 3px 0" type="text" v-if="loginFlag.flag==true" @click="addCommentVisible=true">发布评论</el-button>
                            <el-dialog title="评论" :visible.sync="addCommentVisible">
                            <div v-for="(value,key) in commentReceive" style="padding: 5px">
                                {{key}}:  <input v-model="commentReceive[key]">
                            </div>
                            <div v-if="commentAddFlag!=null">
                                <div v-if="commentAddFlag.flag==true">
                                    评论发布成功，评论ID为  {{commentAddFlag.commentId}}
                                </div>
                            </div>
                            <el-button @click="addComment">点击评论</el-button>
                            </el-dialog>
                        </el-card>
                        <el-card v-model="topicId" class="box-card-2">
                            <p v-for="comment in getCommentObjList[key].commentList" >
                              {{comment.content}}——{{comment.authorName}}
                              <el-button style="float: right; padding: 3px 0" type="text" v-if="loginStatus.id=='admin'" @click="delComment">删除</el-button>
                            </p>
                        </el-card>

                    </el-collapse-item>
                </el-collapse>
          </el-container>

      <el-footer></el-footer>
    </el-container>
  </div>
    

  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
  <script src="node_modules\element-ui\lib\index.js"></script>
  <script src="index.js"></script>
  <script src="main.js"></script>

</body>
</html>

