 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link href="https://cdn.bootcss.com/element-ui/2.4.11/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <el-container> 
      <el-header style="text-align: right; font-size: 12px">
        <div v-if="!loginStatus">

          <el-button  @click="registerVisible=true">注册</el-button>
            <el-dialog title="注册" :visible.sync="registerVisible">
              <div v-for="(value,key) in user">{{key}}:<el-input v-model="user[key]"></el-input></div>0
              <el-button @click="register">注册</el-button>
            </el-dialog>

          <el-button  @click="loginVisible=true">登录</el-button>
            <el-dialog title="登录" :visible.sync="loginVisible">
              <el-button @click="login">登录</el-button>
            </el-dialog>

        </div>

        <div v-else>
            <el-button  @click="loginStatus=false">退出</el-button>
        </div>
        <div style="margin-top: 20px;">
          <el-collapse-transition>
          </el-collapse-transition>
        </div>
      </el-header>

          <el-container>
              <el-collapse v-model="activeNames" @change="handleChange">
                    <el-collapse-item v-for="(value,key) in topicList" :title="topicList[key].title"  :name="key">

                        <el-card class="box-card">
                          <div slot="header" class="clearfix">
                            <span>发帖人：{{topicList[key].authorName}}(Topic id:{{topicList[key].id}})——{{topicList[key].date}}</span>                              
                          </div>
                          <div>{{topicList[key].content}}</div>
                        </el-card>
                        
                        <el-card class="box-card-1">评论列表</el-card>
                        <el-card v-model="topicId" class="box-card">
                            <p v-for="comment in getCommentObjList[key].commentList" >
                              {{comment.content}}——{{comment.authorName}}
                            </p>
                        </el-card>

                    </el-collapse-item>
                </el-collapse>
          </el-container>

      <el-footer>gan2.0</el-footer>
    </el-container>
  </div>
    

  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.4.11/index.js"></script>
  <script src="index.js"></script>
  <script src="main.js"></script>

</body>
</html>

